@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
.light {
  background-color: #e2e2e2;
  transition: background 0.5s;
}

.dark {
  background-color: #202020;
  transition: background 0.5s;
}
